html,b,strong {
    font-family: 'Roboto', sans-serif;
}
a:hover {
    text-decoration: none;
}
button {
    cursor: pointer;
}
.navbar-icon {
    color: #FFF;
    font-size: 1.5rem;
    width: 25%;
    padding: 0;
    height: 100%;
    line-height: 48px;
}
.qrcode i { color:#000;}
.navbar-toggler:focus,
*:focus {
    outline: none;
}
.navbar-toggler {
    color: #FFF;
}
.navbar-icon.active,
.navbar-icon:hover {
    color: #0057a2;
    border-bottom: 3px solid #0057a2;
}
.drop-user img{
  width: 34px;
}
.settings .rounded-circle{
  width: 65px;
}
.settings .userdropname{
  font-size: 26px;
}
.bg-lightBlue{
  background-color: #1d94ca;
  border-color:#1d94ca;
}
.navbar-lightBlue {
    background-color: #1d94ca;
    padding: 0;
    height: 48px;
}

.logo { background: url("../img/logo-small.png") no-repeat; width: 140px; background-repeat: no-repeat;display: inline-block; text-indent: -9999px; background-position:center;}



#navbarResponsive {
    width: 70%;
    max-width: 250px;
    background-color: #FFF;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 99999;
    font-size: 14px
}
#navbarResponsive header {
    height: 110px;
    background-color: #1d94ca;
    padding: 0;
}
#navbarResponsive .profilepic {
    line-height: 110px;
    max-width: 100px;
}
.profileinfo {
    color: #FFF;
    padding: 0;
    margin-top: 37px;
    line-height: 17px;
    margin-left: -7px;
}
.wrapper,.navbar.fixed-bottom{
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
}
#navbarResponsive a {
    color: #212121;
}
#navbarResponsive i {
    margin-right: 10px;
    color: #9e9e9e;
}
.menu .list-inline-item a{color:#cfecf8}
.menu .list-inline-item.active a,
.menu .list-inline-item a:hover{
  color: #0057a2;

}
#navbarResponsive .active,
#navbarResponsive .active a,
#navbarResponsive .active i,
#navbarResponsive li:hover a,
#navbarResponsive li:hover i {
    color: #2196f3;
    background-color: #FFF;
}
.navbar-lightBlue .topTitle{ width: calc( 100% - 44px );}
.navbar-lightBlue h1{
width: calc( 100% - 90px );
padding: .25rem .75rem;
font-size: 1.25rem;
color: #FFF;
margin: 0;
}
  .carousel-indicators.round li {
    border-radius: 10px;
    margin: 1px 3px;
    height: 10px;
    max-width: 10px;
    border: 1px solid #FFF;
    background-color: transparent;
}
.carousel-indicators.round .active {
    background-color: #fff;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}
#productCarousel .carousel-item,#productCarousel .carousel-item img{ height: 360px; }
.bookmark .fa-bookmark-o,.fa-map-o{ color: #000; }
.fa-calendar{color:#FFF}
.fa-calendar.active,.bookmark .fa-bookmark {color: #ffee58;}
.sizes>input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
}

.sizes>input:checked+ label {
    background-color: #0057a2;
    color: #ffffff;
}


.sizes label {
  padding: 4px 0px;
      font-size: 14px;
      font-weight: 800;
      border-radius: 4px;
      background-color: #FFF;
      cursor: pointer;
      -webkit-transition: color 0.25s ease-out, background-color 0.25s ease-out;
      width: 25%;
      text-align: center;
}
.sizes span { line-height: 24px; }

.generic-cell {right
border: 1px solid #7a7a7a;
    box-shadow: 0 0 10px #7a7a7a;
    border-radius: 6px;
    max-height: 130px;
height: 130px;max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
.generic-cell a { color:#000;}
.generic-cell img {
    max-height: 130px;
}
.generic-cell.store img {
    max-height: 67px;
}
.priceList {
  font-size: 24px;
    font-weight: 700
}
.hProductTitle{
  font-size: 18px;
  font-weight: 700

}
.qrdiv:before ,.qrdiv:after ,.qrdiv span:after ,.qrdiv span:before {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
}
.qrdiv:before {
  top: -30px;
  left: -15px;
  border-top: 20px solid #000;
  border-left: 20px solid #000;
  border-top-left-radius: 15px;
}
.qrdiv:after {
  top: -30px;
  right: -15px;
  border-top: 20px solid #000;
  border-right: 20px solid #000;
  border-top-right-radius: 15px;
}
.qrdiv span:before {
  bottom: -30px;
  left: -15px;
  border-bottom: 20px solid #000;
  border-left: 20px solid #000;
  border-bottom-left-radius: 15px;
}
.qrdiv span:after {
  bottom: -30px;
  right: -15px;
  border-bottom: 20px solid #000;
  border-right: 20px solid #000;
  border-bottom-right-radius: 15px;
}
span.title{ font-size: 1.3rem; }
span.subtitle { font-size: 0.71rem; }


.recommendations ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


.recommendations .text-center {
  overflow-x: auto;
  white-space: nowrap;
}

.item { width: 45%; color: #fff;   background: #1d94ca;     max-width: 200px; }



footer{background-color: #1d94ca;padding: 30px 0; height: 230px;}
.setfooter{padding-bottom:230px}



.single_footer_widget {
    border-left: 1px solid #3aa4cf;
    padding-left: 25px
}

.first_footer_widget {
    border-left: 0 solid #3aa4cf;
    padding-left: 0
}

.single_footer_widget h3 {
    font-size: 15px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 0
}

.single_footer_widget ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.single_footer_widget ul li a {
    color: #cfecf8;
    font-size: 13px
}

.single_footer_widget ul li a:hover {
    color: #FFF
}

.single_footer_widget i {
    color: #cfecf8;
}

.single_footer_widget i:hover {
    color: #fff
}

.single_footer_widget .btn-app {
    margin-bottom: 14px
}

.single_footer_widget.links-social {
    height: 57px
}

.single_footer_widget.apps ul {
    margin-top: -10px
}

.single_footer_widget.apps li a div {
    width: 180px;
    height: 65px;
    margin-left: -10px
}

.single_footer_widget.apps li.btn-app .app-android {
    background: url('../img/bt_google_play_hover.png') center center no-repeat
}

.single_footer_widget.apps li.btn-app-apple .app-apple {
    background: url('../img/bt_app_store_hover.png') center center no-repeat;
    margin-top: -20px
}

.single_footer_widget.apps li.btn-app .app-android:hover {
    background: url('../img/bt_google_play.png') center center no-repeat
}
.img-fluid.qrcode{max-width: 80%;}
.single_footer_widget.apps li.btn-app-apple .app-apple:hover {
    background: url('../img/bt_app_store.png') center center no-repeat
}
.search{border-top: 1px solid #979797;
    border-left: 1px solid #a6a6a6;
    border-bottom: 1px solid #c7c7c7;
    border-right: 1px solid #adadad;
    width: 97%;
    border-radius: 20px;
    padding: 5px 5px 5px 15px;
    max-width: 455px;
    font-family: FontAwesome,'Roboto', sans-serif;
    max-height: 30px;

  }
  form.rating {
    cursor: pointer;
}
.generic-cell:last-child{ margin-bottom:60px;}
.recommendations .item img {     width: 100%;height: 169px;}
.famous .item .imgcontainer { background: #FFF;    max-height: 100px;padding: 30px 5px; height: 100px;}
.settings{ max-width: 768px; }

@media only screen and (min-width: 767px)  {
  .generic-cell:last-child{ margin-bottom:0px;}

  .topPromo div:first-child {
    text-align: right;
    order: 2;
 }
 span.title{ font-size:2.3rem;}
 span.subtitle {font-size: 1.2rem;}


      .navbar.top{background:#FFF;
        height: 70px;
        line-height: 70px;
        }

        .recommendations .text-center {
            white-space: inherit;
        }
        .recommendations .item{ margin-right: 5%}
      }
