* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
a {
    text-decoration: none;
}
body {
    max-width: 1000px;
    margin: 0 auto;
    /*background: url(../img/layout_2.png) no-repeat;
    background-position-x: center;*/
}
header,
footer,
main,
nav,
section,
side {
    display: block;
}
#logo {
    width: 100%;
    height: 193px;
    background: url("../img/logo.png") no-repeat center;
    background-size: 106px 104px;
    display: block;
}
header,
footer {
    background-color: #d6d6d6;
}
nav {
    height: 758px;
    background-color: #337ab7;
    float: left;
    width: 14.6%;
}
nav li {
    display: inline;
}
nav li a {
    color: #FFF;
    width: 100%;
    display: block;
    height: 59px;
    line-height: 59px;
}
nav li a.active,
nav li a:hover {
    background-color: #003748;
}
main {
    float: right;
    width: 85.4%;
}
.clear {
    clear: both;
}
#rects {
    width: 74.3%;
    height: 758px;
    float: right;
}
side {
    width: 25.7%;
    height: 758px;
    background-color: #EEE;
    float: left;
}
#rects .wrapper,
side .wrapper {
    width: 98.2%;
    margin: 0 auto;
    padding-top: 23px
}
side .wrapper {
    width: 90%;
}
article {
    margin-bottom: 23px;
    width: 30.2%;
    background-color: #62c462;
    display: inline-block;
    margin-right: 30px;
    float: left;
}
#rects .first {
    height: 510px;
}
#rects .second {
    height: 324px;
}
#rects .third {
    height: 387px;
}
#rects .fourth {
    height: 124px;
    position: fixed;
    width: 188px;
}
side .first {
    width: 40%;
    height: 68px;
    margin-top: 238px;
}
footer {
    height: 50px;
}
